<div class="container-fluid">
  <div class="row">
    <h1>DineSafe - Toronto Public Health <small>Built by JonLim.ca</small></h1>

    <p class="lead">DineSafe is a Rails 5 app that uses Toronto Open Data for DineSafe.</p>

    <h3>Stack</h3>

    <ul>
      <li>Rails 5</li>
      <li>PostgreSQL</li>
      <li>Bootstrap 3</li>
      <li>Dokku</li>
    </ul>

    <h3>Why?</h3>

    <p>Practice. I wanted to practice coding projects from scratch, first and foremost, and I wanted to start by building a backend that populated data from a real source, and jockeyed data into a logical and sane structure in the database. Eventually, I'd like to build a nicer frontend and/or mobile client, as well as visualizing a lot of the data and trends that become available.</p>

    <p>I do not own any of the DineSafe data, and it is only possible thanks to the great efforts of the City of Toronto's Open Data Team, making all of these sorts of data sets available for us.</p>

    <h3>Links</h3>

    <ul>
      <li><%= link_to 'JonLim.ca', 'http://jonlim.ca/' %></li>
      <li><%= link_to 'GitHub', 'https://github.com/JonLim/dinesafe-rails' %></li>
      <li><%= link_to 'Twitter', 'https://twitter.com/jonlim' %></li>
      <li><%= link_to 'LinkedIn', 'https://www.linkedin.com/in/jonlim' %></li>
      <li><%= link_to 'DineSafe on Toronto Open Data', 'http://www1.toronto.ca/wps/portal/contentonly?vgnextoid=b54a5f9cd70bb210VgnVCM1000003dd60f89RCRD' %></li>
    </ul>

  </div> <!-- row -->
</div> <!-- container-fluid -->