<div class="container-fluid">
  <div class="row">
    <h1>List of Establishments</h1>
  </div>

    <table class="table">
      <thead>
        <tr>
          <th class="col-md-4"><%= sortable 'name' %></th>
          <th class="col-md-3"><%= sortable 'address' %></th>
          <th class="col-md-2"><%= sortable 'inspections.date', 'Last Inspection' %></th>
          <th class="col-md-1"></th>
        </tr>
      </thead>

      <tbody>
        <% @establishments.each do | establishment | %>
          <tr>
            <td class="col-md-4"><%= establishment.name %></td>
            <td class="col-md-3"><%= establishment.address %></td>
            <td class="col-md-2"><%= establishment.inspections.last.date %></td>
            <td class="col-md-1"><%= link_to 'Show', establishment %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <p><%= paginate @establishments %></p>

</div>

