<div class="container">
  <div class="row">
    <h1><%= @establishment.name %></h1>
  </div>

  <div class="row">
    <strong>Type: </strong>
    <%= @establishment.establishment_type %>
  </div>

  <div class="row">
    <strong>Address: </strong>
    <%= @establishment.address %>
  </div>

  <div class="row">
    <strong>Last Inspection Status: </strong>
    <%= @establishment.last_status %>
  </div>

  <div class="row">
    <h2>List of Inspections</h2>
  </div>

  <% @inspections.each do | inspection | %>
    <div class="panel panel-<%= inspection.status_colour %>">
      <div class="panel-heading">
        <h3 class="panel-title">Inspection Date: <%= inspection.date %> (<%= inspection.status %>)</h3>
      </div>

      <% unless inspection.infractions.empty? %>
        <div class="panel-body">
          <table class="table">
            <thead>
              <th class="col-md-2">Severity</th>
              <th class="col-md-4">Details</th>
              <th class="col-md-2">Action</th>
              <th class="col-md-2">Court Outcome</th>
              <th class="col-md-2">Amount Fined</th>
            </thead>

            <tbody>
                <% inspection.infractions.sort_by(&:severity_priority).each do | infraction | %>
                  <tr>
                    <td class="col-md-2 <%= infraction.severity_colour %>"><%= infraction.severity %></td>
                    <td class="col-md-4"><%= infraction.details %></td>
                    <td class="col-md-2"><%= infraction.action %></td>
                    <td class="col-md-2"><%= infraction.court_outcome %></td>
                    <td class="col-md-2"><%= number_to_currency(infraction.amount_fined) %></td>
                  </tr>
                <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  <% end %>

</div>